---
import {styled, ThemeProvider} from "@qinetik/emotion";
import {ColorScheme, getSystemColorScheme, onSystemColorSchemeChange} from "@qinetik/anique";
import {Column} from "@qinetik/anique";
import {AppBar} from "@qinetik/anique";
import {IconButton} from "@qinetik/anique";
import {DrawerItem, DrawerSectionItem, StaticDrawer} from "@qinetik/anique";
import {createEffect, createSignal, JSX} from "solid-js";
import MenuIcon from "../solid/icons/Menu"
import LightDarkIcon from "../solid/icons/LightDarkIcon";
import {Row} from "@qinetik/anique";
import {Size} from "@qinetik/anique";
import {AniqueThemeDark, AniqueThemeLight} from "@qinetik/anique";
import HTMLContainer from "./HTMLContainer.astro";
import {AutoSystemColorScheme} from "../solid/components/AutoSystemColorScheme";
import {WebAppBar} from "../solid/components/AppBar";
import {ScrollbarStyles} from "@qinetik/anique";
import AnchorDrawerItem from "../solid/components/AnchorDrawerItem";

const path = Astro.url.pathname
let base = import.meta.env.BASE_URL || ""
base = base === "/" ? "" : base

---

<HTMLContainer
    initialTheme="dark"
    title="Anique"
>

    <AutoSystemColorScheme
        client:load
    />

    <Column>

        <WebAppBar
            client:load
        />

        <Row class="bar-content-row">

            <StaticDrawer
                class="static-drawer"
            >

                <div class="fixed-content">

                    <AnchorDrawerItem href={base + "/"} current={path}>
                        Home
                    </AnchorDrawerItem>

                    <DrawerSectionItem title={"Other"}/>
                    <AnchorDrawerItem href={`${base}/about`} current={path}>
                        About
                    </AnchorDrawerItem>

                </div>

            </StaticDrawer>

            <div class="content-container">
                <div class="container">
                    <slot/>
                </div>
            </div>
        </Row>

    </Column>

</HTMLContainer>


<style>
    .content-container {
        display: table-cell;
        vertical-align: top;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        justify-items: start;
        align-items: center;
        flex: 1;
        box-sizing: border-box;
        padding: 4rem 4rem;
    }

    .bar-content-row {
        display: table;
    }

    .static-drawer {
        display: table-cell;
        vertical-align: top;
    }

    .static-drawer a {
        text-decoration: none;
    }

    .fixed-content {
        position: sticky;
        top: 1em;
    }

</style>